/* Font-family: Inter
 * weights: 400, 500, 600, 700
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;

@layer base {
  body {
    @apply bg-gray-800 text-white font-primary leading-relaxed;
  }

  h3 {
    @apply font-semibold text-base text-white mb-2;
  }
}

@tailwind components;

@layer components {
  .graph-content {
    grid-template-columns: 2.3em 1fr;

    @apply grid;
  }

  .graph-dates {
    grid-template-rows: repeat(7, 1fr);

    @apply grid gap-1 grid-flow-col;
  }

  .graph-dates > div {
    padding-bottom: 100%;

    @apply bg-gray-800 rounded;
  }

  .graph-months {
    @apply grid gap-1 capitalize text-xs text-gray-400 mb-2;
  }

  .graph-days {
    grid-template-rows: repeat(7, 1fr);

    @apply grid gap-1 capitalize text-xs text-gray-400 mr-2;
  }

  .tooltip {
    bottom: calc(100% + 3px);
    right: 50%;
    transform: translateX(50%);
    white-space: nowrap;

    @apply invisible absolute;
  }

  .tooltip .arrow-down {
    right: 50%;
    top: 100%;
    transform: translateX(50%);
    @apply absolute;
  }

  .has-tooltip {
    @apply relative;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

  .arrow-down {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
  }
}

@tailwind utilities;
