/* Font-family: Inter
 * weights: 400, 500, 600, 700
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;

@layer base {
  body {
    @apply bg-gray-800 text-white font-primary leading-relaxed;
  }

  h3 {
    @apply font-semibold text-base text-white mb-2;
  }
}

@tailwind components;

@layer components {
  .commits-graph {
    display: grid;
    grid-template-rows: repeat(7, minmax(0, 1fr));

    @apply gap-1 grid-flow-col auto-cols-min;
  }

  .commits-graph > div {
    width: 1em;
    height: 1em;

    @apply bg-gray-800 rounded;
  }

  .tooltip {
    bottom: calc(100% + 3px);
    right: 50%;
    transform: translateX(50%);
    white-space: nowrap;

    @apply invisible absolute;
  }

  .tooltip .arrow-down {
    right: 50%;
    top: 100%;
    transform: translateX(50%);
    @apply absolute;
  }

  .has-tooltip {
    @apply relative;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

  .arrow-down {
    height: 0;
    width: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid black;
  }
}

@tailwind utilities;
